<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tour_guide">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="hotel.user_view_hotel_item"></activity>
        <activity android:name="hotel.add_hotel" />
        <activity android:name="hotel.admin_hotel_list_view" />
        <activity android:name="hotel.hotel_view_item" />
        <activity android:name="hotel.Admin_view_hotel_details" />
        <!--<activity android:name="Userhotels.user_view_all_hotels" />-->
        <!--<activity android:name="Userhotels.user_view_all_hotel_details" />-->
        <activity android:name="hotel.admin_all_hotels">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity android:name=".Admin.TravellingPlaces" /> -->
        <activity android:name=".Common.OnBoarding" />
        <activity android:name=".User.UserDashboard" />
        <activity android:name=".Common.SplashScreen" />
    </application>

</manifest>